<<!DOCTYPE html>
<html>
<head>
    <title>Personal Website</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<div>
    <button onclick="window.location.href='skate'" class="flex-button">Skate Career</button>
	<button onclick="window.location.href='projects'" class="flex-button">My Projects</button>
	<button onclick="window.location.href='about'" class="flex-button">About Me</button>
</div>
<body>
	
</body>
<h1>Ngoc Lam Pham</h1>

<footer>
		<p>&copy; Ngoc Lam Pham 2023</p>
	</footer>

</html>