<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects page</title>
    <link rel="stylesheet" href="static/projects.css">
</head>
<!-- <header class="flex-button">⌂ HOME</header> -->
<div class="navbar">
  <a onclick="window.location.href='home'">⌂ Home</a>
  <a onclick="window.location.href='skate'" class="right">Skate Career</a>
  <a onclick="window.location.href='about'" class="right">About Me</a>
</div>
<body>
    <h1>My Projects</h1>
    <p>
      Ever since joining Code Next, I was able to be a part of many projects. They varies from individual to team as well as small-scaled and big-scaled. Here are a few of them:
    </p>

    <div class="vid-container">
      <div class="vid-wrapper">
        <video controls>
          <source src="static/asset/first_project.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <h3 class="video-title">First project</h3>
      <p class="video-description">Mini-security camera</p>

    </div>
    <div class="video-container">
    <div class="video-wrapper">
        <video controls>
        <source src="static/asset/oak.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <h3 class="video-title">Everyday Thing</h3>
    <p class="video-description">One of many projects done at Code Next Oakland</p>  
  
      <div class="video-wrapper">
          <video controls>
          <source src="static/asset/hackathon.mov" >
          Your browser does not support the video tag.
        </video>
      </div>
      <h3 class="video-title">Hackathon Project</h3>
      <p class="video-description">Project done at Hackathon 2022</p>  
      
</div>
    <p>
      After all the experience, I am glad to be in Code Next and grateful for all the friends I made on the way!
    </p> 
</body>
</html>