<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skate Career</title>
    <link rel="stylesheet" href="../static/skate.css">
</head>
<div class="navbar">
  <a onclick="window.location.href='home'">⌂ Home</a>
  <a onclick="window.location.href='about'" class="right">About Me</a>
  <a onclick="window.location.href='projects'" class="right">My Projects</a>
</div>
<body>
    <h1>"Skate Career"</h1>
    <p>
FOLLOW ME ON IG TO SEE MORE CLIPS: ngoclamph
    </p>
    <div class="video-container">
        <div class="video-wrapper">
          <video controls>
            <source src="static/asset/firstedit.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <h3 class="video-title">First edit</h3>
        <p class="video-description">Footages over 2 years</p>

        <div class="video-wrapper">
            <video controls>
            <source src="static/asset/mpedit.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <h3 class="video-title">School footage edit</h3>
        <p class="video-description">One day</p>
        </div>
      <div class="vid-container">
        <div class="vid-wrapper">
          <video controls>
              <source src="static/asset/Just_got_friendzoned.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
      </div>
      <h3 class="video-title">Just_got_friendzoned</h3>
      <p class="video-description">I got friendzoned</p>
      </div>
        <p>
    
        I love skating    </p>  
</body>
</html>
